<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <title>Demo Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Demo Blog</a>
    <ul class="nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Authors", users_path %></li>
      <li><a href="#">Categories</a></li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <% if current_user %>
          <p>Logged in as <%= current_user.firstname %>.
          <%= link_to "Log Out", session_path("current"), method: :delete %></p>
      <% else %>
        <p><%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %></p>
      <% end %>
      </li>
    </ul>
  </div>
</div>



    <% flash.each do |name, msg| %>
      <div class="alert-<%= name %>"><%= msg %></div>
    <% end %>
    <div class="container">
      <div class = "row">
        <div class = "span9"><%= yield %></div>
        <div class = "span3">Blah Blah Blah</div>
      </div>
    </div>
  </div>

</body>
</html>
